DROP TABLE IF EXISTS ListCardImageType;
CREATE TABLE IF NOT EXISTS ListCardImageType(
    CardImageTypeID   INTEGER PRIMARY KEY AUTOINCREMENT,
    Comment           nvarchar(128)
);
INSERT INTO ListCardImageType VALUES( 1, '完整图片');
INSERT INTO ListCardImageType VALUES( 2, '只是图画部分，标准版本');
INSERT INTO ListCardImageType VALUES( 3, '只是图画部分，图画在中间');
